*, *::before, *::after {
  margin: 0;
  padding: 0;
  caret-color: transparent;
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
}

button:disabled, button:disabled:hover {
  background-color: rgb(187, 187, 187);
  color: linen;
  opacity: 1;
  transform: none;
  cursor: not-allowed;
}


:root {
  accent-color: #46467b;
}

::selection {
  color: none;
  background-color: #f1e0e0;
}

::-moz-selection {
  color: none;
  background-color: #f1e0e0;
}

button {
  font-family: 'Open Sans', sans-serif;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-family: 'Cinzel', serif;
}

.container {
  width: 90%;
  /* height: 100vh; */
  background-color: #f7f8ff;
  margin: auto;
  padding: 100px;
}


header, footer {
  background-color: #46467b;
  color: #fff;
}

header a, footer a{
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

header ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

header ul a {
  list-style-type: none;
  padding: 10px 25px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.525);
  border-radius: 160px 160px 60px 60px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 35vw;
  right: 35vw;
  border-radius: 200px 200px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.page {
  text-align: center;
  margin: auto;
}

/* .library, .favorites {
  overflow-y: scroll;
} */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  margin-top: 50px;
}

.intro-title {
  font-size: 2.5rem;
}

.random-books-selection {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-books-selection-info {
  width: 470px;
}

.random-books-selection-text {
  font-size: 1.3rem;
  font-style: italic;
}

.random-books-selection-btn {
  margin-top: 30px;
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  border: 1px dashed #46467b;
  -webkit-box-shadow: 3px 12px 15px 5px #f1e0e0; 
  box-shadow: -1px 12px 15px 5px #f1e0e0;
  transition: all 0.2s;
}

.random-books-selection-btn:hover {
  transform: translateY(-2%);
  box-shadow: none;
}

.random-books-selection-grid, .favorites-grid, .library-grid {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
}

/* .bloombookselection-title {

} */

.random-book-card {
  width: 100%;
  height: auto;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.random-book-card-img {
  width: 60%;
  height: auto;
}

.random-book-card-cta {
  margin-top: 50px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear; 
  transition: opacity 0.5s linear;
  background-color: rgba(0, 0, 0);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.random-book-card-cta a {
  text-decoration: none;
  color: #fff;
}

.random-book-card:hover {
  cursor: pointer;
}


.random-book-card:hover .random-book-card-cta {
  opacity: 1;
}

.random-book-card-checkbox {
  position: absolute;
  bottom: -3.5em;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.add-random-books-to-favorites {
  color: #46467b;
  border-color: 1px solid #000;
  background-color: #e0dcdc;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.add-random-books-to-favorites:hover {
  transform: translateY(2%);
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
}

.bd-container {
  display: grid;
  grid-template-columns: 30px 1fr 1fr;
  column-gap: 20px;
  padding: 20px;
  height: 550px;
  width: 80%;
  margin: 0 auto;
  overflow: scroll;
}

.bd-container aside {
  
}


.bd-container aside .go-back-icon {
  width: 2em;
  height: 2em;
}

.book-details {

}

.bd-title-favorite {
  display: flex;
  justify-content: space-between;
}

.favorite-icon {
  width: 2em;
  height: 2em;
}

.bd-cover {
  display: flex;
  justify-content: center;
}

.bd-cover img {
}

.favorites-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  row-gap: 60px;
}

.favorites-grid-item {
  width: 100%;
  height: auto;
  background-color: purple;
}

.favorites-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}