*, *::before, *::after {
  margin: 0;
  padding: 0;
  caret-color: transparent;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.container {
  width: 80%;
  background-color: rgb(44, 120, 124);
  margin: 20px auto;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}